h1 {
    font-size: 2.5rem;
    color: #bf9d3c;
    text-align: center;
    margin-bottom: 20px;
}

.highlight {
    font-size: 50px;
}

.correct {
    color: #3e3d3a;
    font-weight: bold;
}

.currentText {
    color: #bf9d3c;
    /*font-weight: bold;*/
}

.standby {
    color: #a6a39e;
    /*font-style: italic;*/
}