body {
    background-color: #f4f1e9;
    /*background-color: #f4f1e9;*/
    font-family: 'Noto Serif JP', serif;
    margin: 0;
    padding: 0;
    color: #3e3d3a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 10rem;
    background-color: #bf9d3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #a17d2c;
}

button:active {
    background-color: #896622;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
}